<div data-controller="filter" data-filter-url="<%= select_filter_path %>" >	
	
	<%= form_with(url: search_grilles_path, method: :post, data: {'filter-target': "form", action: "turbo:before-fetch-request->filter#submitForm change->filter#change_form"}) do |f|%>
		
	<h2>Votre situation au 1er Janvier 2023 <span class="pright fr-hidden" data-filter-target="boutonSituation"><button class="fr-btn fr-btn--secondary" type="button" data-action="click->filter#reset_situation" title="modifier la situation 2023"> Modifier votre situation <span class="fr-icon-edit-line fr-fi--sm fr-ml-1v" aria-hidden="true"></span></button></span></h2>

	<div class="fr-grid-row fr-grid-row--gutters fr-hidden fr-results" data-filter-target="resultSituation">
		<div class="fr-col-12">
			<span class="fr-tag">Corps : <span data-filter-target='resultCorps'></span></span>
			<span class="fr-tag">Grade : <span data-filter-target='resultGrade'></span></span>
			<span class="fr-tag">Âge : <span data-filter-target='resultAge'></span></span>
			<span class="fr-tag">Échelon : <span data-filter-target='resultEchelon'></span></span>
			<span class="fr-tag">Durée : <span data-filter-target='resultDuree'></span>	</span>
			<span class="fr-tag">Emploi fonctionnel : <span data-filter-target='resultToggleEmploi'></span></span>
			<span class="fr-hidden" data-filter-target="resultSituationEmploi">
				<span class="fr-tag">Nature : <span data-filter-target='resultEmploif'></span></span>
				<span class="fr-tag">Niveau : <span data-filter-target='resultNiveauEf'></span></span>
				<span class="fr-tag">Échelon : <span data-filter-target='resultEchelonEf'></span></span>
				<span class="fr-tag">Durée à cet échelon : <span data-filter-target='resultDureeEchelonEf'></span></span>
				<span class="fr-tag">Début emploi : <span data-filter-target='resultDebutEf'></span>	</span>
				<span class="fr-tag">Fin emploi : <span data-filter-target='resultFinEf'></span>	</span>
			</span>
		</div>
	</div>
	<div class="fr-grid-row fr-grid-row--gutters" data-filter-target="formSituation">
		<div class="fr-col-12 fr-col-lg-3">
			<div class="fr-select-group">
				<label for="corps" class="fr-label">Corps*</label>
				<%= f.select :corps, @corps.map {|c| [c,c]},{prompt: "- sélectionner -"}, {data: {action: 'change->filter#corpsChange','filter-target': 'corps' },required: true, id:"corps",class:"fr-select"}%>
			</div>	
		</div>
		<div class="fr-col-12 fr-col-lg-2">
			<div class="fr-select-group">				
				<label for="grade" class="fr-label" >Grade*</label><%= f.select :grade, [],{prompt: "- sélectionner -"}, {data: {action: 'change->filter#gradesChange','filter-target': 'grade'},required: true, id: "grade", class:"fr-select"}%>
			</div>
		</div>
		<div class="fr-col-12 fr-col-lg-2">
			<div class="fr-select-group">
				<label for="age" class="fr-label">Age*</label><%= f.select :age, (18..66).to_a.map { |a| [a.to_s + " ans",a]},{prompt: "- sélectionner -"},{data:{action: 'change->filter#validateForm','filter-target': "age"},required: true, id: "age", class:"fr-select"}%>
			</div>
		</div>
		<div class="fr-col-12 fr-col-lg-2">
			<div class="fr-select-group">			
				<label for="echelon" class="fr-label">Echelon*</label><%= f.select :echelon, [],{prompt: "- sélectionner -"}, {data: {action: 'change->filter#echelonsChange','filter-target': 'echelon'},required: true, id: "echelon", class:"fr-select"}%>
			</div>
		</div>
		<div class="fr-col-12 fr-col-lg-3">
			<div class="fr-select-group">				
				<label for="duree" class="fr-label" data-filter-target='dureeTitle'>Durée passée à cet échelon*</label><%= f.select :duree, [],{prompt: "- sélectionner -"},{data: {'filter-target': 'duree', action: 'change->filter#validateForm'}, id:"duree", class:"fr-select"}%>	
			</div>
		</div>
	</div>

	<div class="fr-grid-row fr-grid-row--gutters" data-filter-target='contentToggleEmploi'>
		<div class="fr-col-12 fr-col-lg-12">
			<div class="">
			    <fieldset class="fr-fieldset fr-fieldset--inline">
			        <legend class="fr-fieldset__legend fr-text--regular fr-mb-1w" id='radio-inline-legend'>
			            Exercez-vous un emploi fonctionnel au 1er Janvier 2023 ? 
			        </legend>
			        <div class="fr-fieldset__content" >
			            <div class="fr-radio-group">
			                <%= f.radio_button :emploi_i, true, id: "radio-emploi1", data: {action: 'click->filter#toggleEmploi', 'filter-target': 'radioButton'}, checked: false %>
			                <label class="fr-label" for="radio-emploi1">Oui</label>
			            </div>
			            <div class="fr-radio-group">
			                <%= f.radio_button :emploi_i, false, id:"radio-emploi2", data: {action: 'click->filter#toggleEmploi'}, checked: true%>
			                <label class="fr-label" for="radio-emploi2">Non</label>
			            </div>
			        </div>			        
			    </fieldset>
			</div>

		</div>
	</div>

	<div class="fr-grid-row fr-grid-row--gutters fr-hidden" data-filter-target="formEmploi">
		<div class="fr-col-12 fr-col-lg-2">
			<div class="fr-select-group">
				<label for="typeef" class="fr-label">Nature de l'emploi*</label><%= f.select :type_emploi, @emplois_f.map {|e| [e,e]},{:prompt => '- sélectionner -'},{data:{action: 'change->filter#emploifChange','filter-target': 'emploif'},id:"typeef", class:"fr-select"}%>
			</div>
		</div>
		<div class="fr-col-12 fr-col-lg-2">
			<div class="fr-select-group">
				<label for="niveauef" class="fr-label">Niveau*</label><%= f.select :niveau_emploi, [],{:prompt => '- sélectionner -'},{data:{action: 'change->filter#validateForm','filter-target': 'niveauEf'}, id:"niveauef", class:"fr-select"}%>
			</div>
		</div>
		<div class="fr-col-12 fr-col-lg-2">
			<div class="fr-select-group">				
				<label for="echelonef" class="fr-label">Echelon*</label><%= f.select :echelon_emploif, [],{prompt: "- sélectionner -"},{data: {action: 'change->filter#echelonfChange', 'filter-target': 'echelonEf'}, class: "fr-select", id:"echelonef"}%>
			</div>
		</div>
		<div class="fr-col-12 fr-col-lg-2">	
			<div class="fr-select-group">	
				<label for="dureeef" class="fr-label" data-filter-target='dureeEchelonEfTitle'>Durée à cet échelon*</label><%= f.select :duree_echelonf, [], {prompt: "- sélectionner -"},{data: {action: 'change->filter#validateForm','filter-target': 'dureeEchelonEf'}, class: "fr-select", id:"dureeef"}%>
			</div>
		</div>
		<div class="fr-col-12 fr-col-lg-2">		
			<div class="fr-select-group">			
				<label for="debutef" class="fr-label" >Début de l'emploi*</label><%= f.select :debut_emploif, [["2022",2022],["2021",2021],["2020",2020],["2019",2019],["2018",2018]], {prompt: "- sélectionner -"},{data: {action: 'change->filter#debutEfChange','filter-target': 'debutEf'}, class: "fr-select",id:"debutef"}%>	
			</div>
		</div>
		<div class="fr-col-12 fr-col-lg-2">		
			<div class="fr-select-group">			
				<label for="finef" class="fr-label">Fin prévue de l'emploi*</label><%= f.select :fin_emploif, [],{prompt: "- sélectionner -"},{data: {action: 'change->filter#validateForm','filter-target': 'finEf'}, class: "fr-select", id:"finef"}%>		
			</div>
		</div>
	</div>

	<hr class="fr-grid-row fr-col-xs-12 fr-col-12 fr-my-2w">
	<div class="fr-error-text fr-hidden fr-mb-1v" data-filter-target="errorSituation" role="alert"></div>

	<h2>Vos situations futures <span class='texte_light italic'>(optionnel)</span><span class="pright fr-hidden" data-filter-target="buttonSimulation" ><button class="fr-btn fr-btn--secondary" type="button" data-action="click->filter#reset_simulation" title="modifier vos simulations futures"> Modifier vos simulations <span class="fr-icon-edit-line fr-fi--sm fr-ml-1v" aria-hidden="true"></span></button></span></h2>	
	<div class="fr-notice fr-notice--info fr-mb-2w">
				    <div class="fr-container">
				        <div class="fr-notice__body">
				            <p class="fr-notice__title">
				              Vous pouvez simuler des promotions de grades (lorsqu'elles sont possibles), jusqu’à 6 emplois fonctionnels et 1 disponibilité. La promotion au grade 3 ne s'applique pas en cas de droit d'option.
				            </p>
				        </div>
				    </div>
				</div>	

	<div class="fr-grid-row fr-grid-row--gutters fr-hidden fr-results" data-filter-target="resultSimulation">
		<div class="fr-col-12">
			<span class="fr-tag"  data-filter-target='resultToggleSimulation'></span>
			
			<% (1..6).each do |i|%>
				<div class="fr-hidden" data-filter-target='resultShowEmploif<%=i%>'>
					<span class="fr-tag">Emploi <%= i%> : <span data-filter-target='resultEmploif<%=i%>'></span></span>
					<span class="fr-tag">Niveau : <span data-filter-target='resultNiveauEf<%=i%>'></span></span>
					<span class="fr-tag">Début : <span data-filter-target='resultDebutEf<%=i%>'></span></span>
					<span class="fr-tag">Durée : <span data-filter-target='resultDureeEf<%=i%>'></span> <span>ans</span></span>
				</div>
			<% end %>
			<span class="fr-hidden" data-filter-target="resultDispo">
				<span class="fr-tag">Début disponibilité : <span data-filter-target='resultdebutProjet'></span></span>
				<span class="fr-tag">Fin disponibilité : <span data-filter-target='resultfinProjet'></span></span>
			</span>
			
			<span class="fr-tag fr-hidden" data-filter-target='resultShowGrade2'>Promotion grade 2 : <span data-filter-target='resultGrade2'></span></span>
			<span class="fr-tag fr-hidden" data-filter-target='resultShowGrade3'>Promotion grade 3 : <span data-filter-target='resultGrade3'></span></span>
			<span class="fr-tag fr-hidden" data-filter-target='resultShowGrade4'>Promotion grade 4 : <span data-filter-target='resultGrade4'></span></span>

		</div>
	
	</div>

	<div class="fr-grid-row fr-grid-row--gutters" data-filter-target='contentToggleSimulation'>
		<div class="fr-col-12 fr-col-lg-12">
			<div class="">
			    <fieldset class="fr-fieldset fr-fieldset--inline">
			        <legend class="fr-fieldset__legend fr-text--regular fr-mb-1w" id='radio-inline-legend'>
			            Souhaitez-vous effectuer une simulation ? 
			        </legend>
			        <div class="fr-fieldset__content" >
			            <div class="fr-radio-group">
			                <%= f.radio_button :simulation, true, id: "radio-simulation1", data: {action: 'click->filter#toggleSimulation', 'filter-target': 'radioButtonSimulation',}, checked: false  %>
			                <label class="fr-label" for="radio-simulation1">Oui</label>
			            </div>
			            <div class="fr-radio-group">
			                <%= f.radio_button :simulation, false, checked: true, id:"radio-simulation2", data: {action: 'click->filter#toggleSimulation'}, checked: true  %>
			                <label class="fr-label" for="radio-simulation2">Non</label>
			            </div>
			        </div>
			        
			    </fieldset>
			</div>
		</div>
	</div>

	<div class="fr-grid-row fr-grid-row--gutters fr-hidden" data-filter-target="formSimulation">
		<div class="fr-col-12 fr-col-lg-8">
			<!-- EF -->
			<div class="fr-text-lg bold">Projections d'emplois fonctionnels 
				
				<button class="fr-hidden bouton_i2" type="button" data-filter-target="buttonDeleteEF" data-action="click->filter#deleteEf" title="supprimer les emplois fonctionnels"><span class="fr-icon-delete-line" aria-hidden="true"></span></button></div>		
			<% (1..6).each do |i|%>
			<div class="fr-my-2w fr-hidden" data-filter-target="content<%=i%>">
				<div class="fr-text-lg bold">Projection <%=i %>  <button data-filter-target='removeEf<%=i%>' data-action="filter#removeEf" data-value="<%=i%>" class='bouton_i2' title="supprimer l'emploi fonctionnel"><span class="fr-icon-delete-line " aria-hidden="true" data-value="<%=i%>" ></span></button></div>
				<div class="fr-grid-row fr-grid-row--gutters">
					<div class="fr-col-12 fr-col-lg-3">
						<div class="fr-select-group">
							<label for="niveauEf<%=i%>" class="fr-label">Nature de l'emploi*</label><%= f.select "type_emploi#{i}", @emplois_f2.map {|e| [e,e]},{ prompt: "- sélectionner -"},{data:{action: 'change->filter#emploifChange2',value: i.to_s, 'filter-target': 'emploif'+i.to_s},id:'niveauEf'+i.to_s, class:"fr-select"}%>
						</div>
					</div>
					<div class="fr-col-12 fr-col-lg-3">
						<div class="fr-select-group">
							<label for="niveauef<%=i%>" class="fr-label">Niveau*</label><%= f.select "niveau_emploi#{i}", [],{ prompt: "- sélectionner -"},{data:{action: 'change->filter#validateForm', 'filter-target': 'niveauEf'+i.to_s},id:'niveauef'+i.to_s, class:"fr-select"}%>
						</div>
					</div>
					<div class="fr-col-12 fr-col-lg-3">
						<div class="fr-select-group">				
							<label for="debutef<%=i%>" class="fr-label">Début prévu*</label><%= f.select "debut_emploif#{i}", [], {prompt: "- sélectionner -"},{data: {action: 'change->filter#validateForm','filter-target': 'debutEf'+i.to_s},id:'debutef'+i.to_s, class:"fr-select"}%>
						</div>
					</div>
					<div class="fr-col-12 fr-col-lg-3">
						<div class="fr-select-group">				
							<label for="dureeef<%=i%>" class="fr-label">Durée prévue*</label><%= f.select "duree_emploif#{i}", [['3 ans',3],['6 ans',6]], {prompt: "- sélectionner -"},{data: {action: 'change->filter#validateForm','filter-target': 'dureeEf'+i.to_s}, id:'dureeef'+i.to_s, class:"fr-select"}%>
						</div>
					</div>
				</div>			
			</div>
			<% end %>
			<div class="fr-error-text fr-hidden" data-filter-target="error" role="alert"> </div>
			<div class="fr-my-2w" data-filter-target="bouton"><button data-action="filter#toggleEf" class="btn-plus" title="ajouter un emploi fonctionnel"> <span class="fr-fi-add-circle-fill cbleu fr-fi--sm" aria-hidden="true"></span> Ajouter un emploi fonctionnel futur</button></div>
			

			<! -- Grades -->
			<div class="fr-my-2w fr-hidden" data-filter-target="formGrades">
				<div class="fr-text-lg bold">Projections de promotion de grade 
					<button class="fr-hidden bouton_i2" data-filter-target="buttonDeleteGrades" type="button" data-action="click->filter#deleteGrades" title="supprimer les promotions de grade"><span class="fr-icon-delete-line" aria-hidden="true"></span></button>
				</div>
				<div class="fr-my-2w" data-filter-target="buttonNewGrades"><button  data-action="filter#addGrades" class="btn-plus" title="Ajouter une promotion de grade"> <span class="fr-fi-add-circle-fill cbleu fr-fi--sm" aria-hidden="true"></span> Ajouter une promotion de grade</button></div>
				<div class="fr-my-2w fr-hidden" data-filter-target="contentgrades">	
					<div class="fr-grid-row fr-grid-row--gutters">
						<div class="fr-col-12 fr-col-lg-3">	
							<div class="fr-select-group">			
								<label for="grade2" class="fr-label select_inactive" data-filter-target="grade2Title">Grade 2</label><%= f.select :grade2, [[" ",""]],{},{data: {'filter-target': 'grade2', action: 'change->filter#promoGrade2Change',}, id:"grade2", class:"fr-select"}%>
							</div>
						</div>
						<div class="fr-col-12 fr-col-lg-3">
							<div class="fr-select-group">	
								<label for="grade3" class="fr-label select_inactive" data-filter-target="grade3Title">Grade 3</label><%= f.select :grade3, [[" ",""]],{},{data: {'filter-target': 'grade3',action: 'change->filter#promoGrade3Change',}, id:"grade3", class:"fr-select"}%>
							</div>
						</div>
						<div class="fr-col-12 fr-col-lg-3">
							<div class="fr-select-group">
								<label for="grade4" class="fr-label select_inactive" data-filter-target="grade4Title">Grade 4</label><%= f.select :grade4, [[" ",""]],{},{data: {'filter-target': 'grade4',},id:"grade4", class:"fr-select"}%>
							</div>
						</div>
					</div>
				</div>
			</div>
					
		</div>
		<!-- Dispo -->
		<div class="fr-col-12 fr-col-lg-4">
			
			<div class="fr-text-lg bold">Disponibilité 
				
			<button class="fr-hidden bouton_i2" type="button" data-filter-target="buttonDeleteDispo" data-action="click->filter#deleteDispo" title="supprimer la disponibilité"><span class="fr-icon-delete-line" aria-hidden="true"></span></button></div>
			<div class="fr-my-2w" data-filter-target="buttonNewProjet"><button  data-action="filter#addDispo" class="btn-plus" title="ajouter une disponibilité"> <span class="fr-fi-add-circle-fill cbleu fr-fi--sm" aria-hidden="true"></span> Ajouter une disponibilité</button></div>		
			<div class="fr-my-2w fr-hidden" data-filter-target="contentdispo" >
				<div class="fr-grid-row fr-grid-row--gutters">
					<div class="fr-col-12 fr-col-lg-6">
						<div class="fr-select-group">							
							<label for="debutprojet" class="fr-label" >Début prévu</label><%= f.select :debut_projet, (2023..2072).to_a.map { |a| [a,a]}, {prompt: "- sélectionner -"},{data: {action: 'change->filter#dispoChange','filter-target': 'debutProjet'}, id:"debutprojet", class:"fr-select"}%>
						</div>
					</div>
					<div class="fr-col-12 fr-col-lg-6">
						<div class="fr-select-group">				
							<label for="finprojet" class="fr-label">Fin prévue</label><%= f.select :fin_projet, [],{prompt: "- sélectionner -"},{data: {action: 'change->filter#validateForm','filter-target': 'finProjet','filter-target': 'finProjet'},id:"finprojet", class:"fr-select"}%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fr-error-text fr-hidden" data-filter-target="errorCorps"  role="alert"> </div>
	<div class="fr-my-4w"><%= f.submit "Valider", class: "fr-btn bouton_inactive", data: {action: 'click->filter#submitForm','filter-target': "submitBouton"}, aria: { label: "Valider le formlulaire pour lancer la simulation"} %></div>

	<% end %>

	<div id="graphe" class="graphe fr-hidden" data-filter-target="graphe">				
		<%= render 'graphe'%>

	</div>
	<div id="table" class="fr-hidden" data-filter-target="table"><%= render 'table'%></div>
</div>
