<hr class="fr-col-xs-12 fr-col-12 fr-my-2w">
<div data-controller="highcharts" data-highcharts-donnees="<%= @liste_indices_annuel %>" data-highcharts-donnees2="<%=@liste_indices2_annuel%>" data-highcharts-donnees3="<%=@liste_indices3_annuel%>" data-highcharts-grades="<%= @array_grade_annuel%>" data-highcharts-grades2="<%= @array_grade_reclasse_annuel%>" data-highcharts-efs="<%= @array_ef_annuel%>" data-highcharts-debutdispo="<%=@graphe_debut_dispo%>" data-highcharts-findispo="<%=@graphe_fin_dispo%>">
	<h2>Simulations graphiques du suivi indiciaire</h2>
	<div data-highcharts-target="canvasElement"></div>

	<hr class="fr-grid-row fr-col-xs-12 fr-col-12 fr-my-2w">
	<div data-highcharts-target="canvasElement2"></div>

</div>
<hr class="fr-grid-row fr-col-xs-12 fr-col-12 fr-my-4w">