
<div data-controller="highcharts" data-highcharts-donnees="<%= @liste_indices %>" data-highcharts-donnees2="<%=@liste_indices2%>" data-highcharts-donnees3="<%=@liste_indices3%>" data-highcharts-grades="<%= @array_grade%>" data-highcharts-efs="<%= @array_ef%>" data-highcharts-debutdispo="<%=@debut_dispo%>" data-highcharts-findispo="<%=@fin_dispo%>">
	<div class="d24"></div>
	<div data-highcharts-target="canvasElement"></div>

	<div class="d24"></div>
	<div data-highcharts-target="canvasElement2"></div>
	<div class="d24"></div>
</div>
