<div>
	<h2>Tableau mensuel du suivi indiciaire</h2>
	<div class="fr-table fr-table--layout-fixed">
	    <table>
	    	<thead>
	            <tr>
	                <th scope="col">Date</th>
	                <th scope="col">Indice avant réforme </th>
	                <th scope="col">Indice après réforme sans opter </th>
	                <th scope="col">Indice après réforme en optant</th>
	                <th scope="col">Grade</th>
	                <th scope="col">Grade après réforme en optant</th>
	                <th scope="col">Emploi fonctionnel</th>
	            </tr>
	        </thead>
	        <tbody>
				<% @liste_indices.each_with_index do |indice,i| %>
				<tr>
					<td>1er <%= l(Date.new(2023,1,1) + i.months,format: "%B %Y") %></td>
					<td><%= indice.to_i%></td>
					<td><% if @liste_indices2[i].to_i == 0 %> / <%else%><%= @liste_indices2[i].to_i%><%end%></td>
					<td><%= @liste_indices3[i].to_i%></td>
					<td><%= @array_grade[i]%></td>
					<td><% if @array_grade_reclasse[i]%1 != 0 %><%= @array_grade_reclasse[i]%><%else%><%= @array_grade_reclasse[i].to_i%><%end%></td>
					<td><%= @array_ef[i]%></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
	<hr class="fr-grid-row fr-col-xs-12 fr-col-12 fr-my-2w">
</div>