<div>
	<h2>Tableau mensuel de la rémunération indiciaire</h2>
	<div class="fr-table">
	    <table>
	    	<thead>
	            <tr>
	                <th scope="col">Date</th>
	                <th scope="col">Indice - Avant réforme </th>
	                <th scope="col">Indice - Après réforme sans opter </th>
	                <th scope="col">Indice - Après réforme en optant</th>
	                <th scope="col">Grade</th>
	                <th scope="col">Emploi fonctionnel</th>
	            </tr>
	        </thead>
	        <tbody>
				<% @liste_indices.each_with_index do |indice,i| %>
				<tr>
					<td><%= (Date.new(2023,1,1) + i.months).strftime("%B %Y") %></td>
					<td><%= indice.to_i%></td>
					<td><%= @liste_indices2[i].to_i%></td>
					<td><%= @liste_indices3[i].to_i%></td>
					<td><%= @array_grade[i]%></td>
					<td><%= @array_ef[i]%></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
	<hr class="fr-grid-row fr-col-xs-12 fr-col-12 fr-my-2w">
</div>