<% content_for :title do %>Plan du site - SIMULAE <% end %>
<main role="main" class="fr-container fr-py-16v">
<div class="fr-grid-row">
	<div class="fr-col-12 fr-col-md-8">
		  	<h1>Plan du site </h1>
		  	
			<section class="fr-py-6v">
				<ul>
				
					<li><%= link_to root_path do %>Accueil<%end%></li>
					<li><%= link_to simulateur_path do %>Simulateur<%end%></li>
					<li><%= link_to plan_du_site_path do %>Plan du site<%end%></li>
					<li><%= link_to accessibilite_path do %>Accessibilité<%end%></li>
					<li><%= link_to mentions_legales_path do %>Mentions légales<%end%></li>
					<li><%= link_to donnees_personnelles_path do %>Données personnelles & Gestion des cookies<%end%></li>	
						
				</ul>
			</section>
		</div>
	</div>
</main>
				
				
