<!DOCTYPE html>
<html lang="fr" data-fr-scheme="system">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : "Simulae" %></title>
    <meta name="theme-color" content="#000091">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "utility", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    
    <script async defer data-website-id="ccee5ce6-f76e-45e4-98f4-40dc5bc68bfb" src="https://s.abla.io/abla.js"></script>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
